keep

solved
bin/video
bin/solved
public/inspection-chamber.js
tests
videos
list
test-results
playwright.config.ts

node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
