/* This enables same-origin, cross-document view transitions
for supporting browsers if the user doesn't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}


/* Let the old image fade out over 0.6 seconds */
::view-transition-old(root) {
  animation-duration: 600ms;
}

/* Let the new image fade in over 0.6 seconds, but only after a delay of 0.4 seconds.
Slide in the image from the bottom of the viewport using a primitive bump timing function */

::view-transition-new(root) {
  animation: 600ms 400ms both slide-up linear(0, 1.2 50%, 0.8 75%, 1);
}
/* Fade in and slide up. */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
}

/* --- */


/* assign view transition names to elements: Whiteboard, navigation, fish, card, arrow, and subtitles
If not stated otherwise, the new animations default to 250 milliseconds */
#whiteboard {
  view-transition-name: whiteboard;
}

nav {
  view-transition-name: nav;
}


#fish {
  view-transition-name: fish;
}
::view-transition-group(fish) {
  animation-duration: 800ms;
}


#card {
  view-transition-name: card;
  a {
    view-transition-name: link;
  }
}
::view-transition-group(card) {
  animation-duration: 800ms;
}


b {
  view-transition-name: arrow;
}

::view-transition-group(arrow) {
  animation-duration: 1000ms;
}



/* Some fancy text animation to avoid default text morph:
slide the old image out and at the same time, with a short delay, slide the new image in.
Clip the images at the group pseudo-element so they do not overflow the area.
 */

h2 {
  view-transition-name: subtitle;
}
::view-transition-group(subtitle) {
  overflow: hidden;
}
::view-transition-old(subtitle) {
  animation: turn-out 500ms linear both;
}
::view-transition-new(subtitle) {
  animation: turn-in 500ms 100ms linear both;
}
@keyframes turn-out {
  to {
    transform: translateX(-100%);
  }
}
@keyframes turn-in {
  from {
    transform: translateX(100%);
  }
}
